<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.SysPermissionsDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.accp.entity.SysPermissions">
		<id column="id" property="id" />
		<result column="permission" property="permission" />
		<result column="description" property="description" />
		<result column="available" property="available" />
		<result column="path" property="path" />
		<result column="catalog" property="catalog" />
		<result column="icon" property="icon" />
		<result column="component" property="component" />
		<result column="name" property="name" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, permission, description, available, path, catalog, icon, component,
		name
	</sql>
	
	<select id="queryByRolesIdcxx" resultMap="BaseResultMap">
		SELECT DISTINCT p.*
		FROM `sys_permissions` p
		INNER JOIN
		`sys_roles_permissions` rp ON rp.`permission_id`=p.`id`
		INNER JOIN
		`sys_roles` r ON rp.`role_id`=r.`id`
		WHERE  r.`id` IN (
		<foreach collection="list" item="c" separator=",">
			#{c.id}
		</foreach>
		)
	</select>

	<select id="queryByRolesId" resultMap="BaseResultMap">
		SELECT DISTINCT p.*
		FROM `sys_permissions` p
		INNER JOIN
		`sys_roles_permissions` rp ON rp.`permission_id`=p.`id`
		INNER JOIN
		`sys_roles` r ON rp.`role_id`=r.`id`
		WHERE `catalog`=0 AND r.`id` IN (
		<foreach collection="list" item="c" separator=",">
			#{c.id}
		</foreach>
		)
	</select>

	<select id="queryByRolesId2" resultType="java.lang.String">
		SELECT DISTINCT permission
		FROM `sys_permissions` p
		INNER JOIN
		`sys_roles_permissions` rp ON rp.`permission_id`=p.`id`
		INNER JOIN
		`sys_roles` r ON rp.`role_id`=r.`id`
		WHERE `catalog`=0 AND r.`id` IN (
		<foreach collection="list" item="c" separator=",">
			#{c.id}
		</foreach>
		)
	</select>

	<select id="queryPermissionCatalogByRoleIds" resultMap="BaseResultMap">
		select DISTINCT p.* from sys_permissions p inner join
		sys_roles_permissions rp on p.id = rp.permission_id where rp.role_id
		in(
		<foreach collection="list" item="role" separator=",">
			#{role.id}
		</foreach>
		) and p.catalog = 1
	</select>

</mapper>
